/*
t : Tulisan
j : Judul
*/

/*
Posisi Huruf
t : tengen (rata kanan)
k : kiwo (rata kiri)
p : rata tengah (pas tengah2)
r : rata kanan-kiri (roto)
*/

.t {
  text-align :right;
}
.k {
  text-align :left;/*kiri*/
}
.p {
  text-align :center;
}
.r {
  text-align :justify;
}

/*cungkring vs Gendut*/
.gendut {
  text-weight : bold;
}
.cungkring {
  text-weight :normal;
}

.alit {
font-size :14px;
}
.ageng {
font-size :18px;
}

/*
margin / jarak luar / njabi (jb)
padding / jarak dalam / lebet (lb)
*/

/*Margin*/
.jb-0 {margin:0}
.jb-1 {margin:1}
.jb-2 {margin:2}
.jb-3 {margin:3}
.jb-4 {margin:4}
.jb-5 {margin:5}
.jb-6 {margin:6}
.jb-7 {margin:7}
.jb-8 {margin:8}
.jb-9 {margin:9}
.jb-10 {margin:10}
/*Padding*/
.lb-0 {padding:0}
.lb-1 {padding:1}
.lb-2 {padding:2}
.lb-3 {padding:3}
.lb-4 {padding:4}
.lb-5 {padding:5}
.lb-6 {padding:6}
.lb-7 {padding:7}
.lb-8 {padding:8}
.lb-9 {padding:9}
.lb-10 {padding:10}

/*
border / batas / bates / wates (w)
dhuwur (d) / nisor (n) / kiwo (k) tengen (t)
*/

.w { border :1px;}
.w-d { border-top :1px;}
.w-n { border-bottom :1px;}
.w-k { border-left :1px;}
.w-t { border-right :1px;}

/*
warna primer (merah, biru, dan kuning)
warna sekunder (orange, ungu dan hijau)
*/
.abang {background :red;}
.biru {background :blue;}
.kuning {background :yellow;}
.oreng {background :orange;}
.ungu {background :purple;}
.ijo {background :green;}
